<?xml version="1.0"?>

<launch>

    <arg name="map"                                 default="world2"     />
    <arg name="launch_map_server"                   default="true"      />
    <arg name="launch_multi_robot_route_planner"    default="true"      />
    <arg name="launch_graph_generator"              default="true"      />
    <arg name="cfg"                                 default="$(optenv PARAMETERS_SET default)"   />
    <arg name="load_segments"                       default="false"     />
    <arg name="map_name"                            default="$(optenv WAREHOUSE_MAP map)"          />
    <arg name="launch_rviz"                         default="true"      />


    <!-- map server -->
    <group if="$(arg launch_map_server)">
        <include file="$(find amr_fleet)/launch/path_planning/map_server.launch">
            <arg name="map" value="$(arg map)" />
        </include>
    </group>

    <!-- graph -->
    <group if="$(arg launch_graph_generator)">
        <group if="$(arg load_segments)">
            <include file="$(find amr_fleet)/launch/path_planning/graph_generator.launch">
                <arg name="map" value="$(arg map)" />
                <arg name="custom_graph_path" value="$(find amr_fleet)/graphs/$(arg map)/cache/map" />
            </include>
        </group>
        <group unless="$(arg load_segments)">
            <include file="$(find amr_fleet)/launch/path_planning/graph_generator.launch">
                <arg name="map" value="$(arg map)" />
            </include>
        </group>
    </group>

    <!-- Run synchronization/tuw_multi_robot_local_behavior_controller_node -->
    <include file="$(find amr_fleet)/launch/path_planning/path_synchronizer.launch">
    </include>

    <!-- Run multi robot router -->
    <include file="$(find amr_fleet)/launch/path_planning/multi_robot_router.launch">
    </include>

    <!-- start rviz -->
    <group if="$(arg launch_rviz)">
        <include file="$(find amr_fleet)/launch/rviz.launch">
        </include>
    </group>

</launch>