<launch>
	<arg name="use_gdb"  default="false" />
	
    <group if="$(arg use_gdb)">
	<node launch-prefix="gdb -ex run --args" pkg="tuw_multi_robot_router" type="tuw_multi_robot_router_node" name="tuw_robot_router" output="screen">
		<rosparam command="load" file="$(find amr_fleet)/config/multi_robot_router.yaml" />
	</node>
    </group>
    <group unless="$(arg use_gdb)">
	<node pkg="tuw_multi_robot_router" type="tuw_multi_robot_router_node" name="tuw_robot_router" output="screen">
		<rosparam command="load" file="$(find amr_fleet)/config/multi_robot_router.yaml" />
	</node>
    </group>
</launch>

	
