<launch>

    <arg name="robot_id" default="r1"/>
    <arg name="x_pos" default="1.8"/>
    <arg name="y_pos" default="-0.7"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="a_pos" default="3.14"/>

    <!-- Gazebo simulation -->
    <include file="$(find amr_gazebo)/launch/world.launch"/>

    <!--    Gmapping   -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <param name="delta" value="0.03"/>
        <param name="particles" value="50"/>
        <param name="map_update_interval" value="2"/>
    </node>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kobuki_description)/urdf/kobuki_standalone.urdf.xacro'"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model kobuki_$(arg robot_id) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg a_pos) -param robot_description">
    </node>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find amr_fleet)/config/mapping_rviz.rviz" output="screen"/>

</launch>
