<?xml version="1.0"?>

<launch>
    <!-- spaw r1 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r1"/>
        <arg name="x_pos" default="-0.73"/>
        <arg name="y_pos" default="2.76"/>
        <arg name="a_pos" default="0"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- spaw r2 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r2"/>
        <arg name="x_pos" value="-0.76"/>
        <arg name="y_pos" value="1.03"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.2"/>
    </include>

    <!-- spaw r3 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r3"/>
        <arg name="x_pos" value="-0.78"/>
        <arg name="y_pos" value="-0.69"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- spaw r4 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r4"/>
        <arg name="x_pos" value="-2.13"/>
        <arg name="y_pos" value="-2.13"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.2"/>
    </include>

    <!-- spaw r5 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r5"/>
        <arg name="x_pos" value="-0.49"/>
        <arg name="y_pos" value="-4.14"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- spaw r6 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r6"/>
        <arg name="x_pos" value="2.57"/>
        <arg name="y_pos" value="1.04"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.2"/>
    </include>

    <!-- spaw r7 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r7"/>
        <arg name="x_pos" value="4.32"/>
        <arg name="y_pos" value="1.03"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- spaw r8 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r8"/>
        <arg name="x_pos" value="2.58"/>
        <arg name="y_pos" value="-2.05"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.2"/>
    </include>

    <!-- spaw r9 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r9"/>
        <arg name="x_pos" value="4.32"/>
        <arg name="y_pos" value="-2.42"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- spaw r10 robot -->
    <include file="$(find amr_fleet)/launch/client.launch">
        <arg name="robot_id" value="r10"/>
        <arg name="x_pos" value="6.23"/>
        <arg name="y_pos" value="-0.43"/>
        <arg name="a_pos" value="0"/>
        <arg name="max_speed" value="0.2"/>
    </include>
</launch>